{% extends "admin/change_list.html" %} {% load static %} {% block content %} {{
block.super }}
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"
  integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"
  integrity="sha512-mlz/Fs1VtBou2TrUkGzX4VoGvybkD9nkeXWJm3rle0DPHssYYx4j+8kIS15T78ttGfmOjH0lLaBXGcShaVkdkg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  document.addEventListener("DOMContentLoaded",()=>{
    const ctx=document.getElementById("myChart").getContext("2d");
    const chart=new Chart(ctx,{
      type:"bar",
      data:{
        Labels:["Android","Desktop"]
      },
      datasets:{{
        Label:"# visits per OS",
        data:[3,6],
        backgroundColor:[
          "rgba(255,99,112,0.2)",
          "rgba(54,162,255,0.2)"
          ],
        borderColor:[
          "rgba(255,99,132,1)",
          "rgba(54,162,235,1)"
        ],
          borderWidth:2
      }},
      options:{
        scales:{
          yAxes:[{
            ticks:{
              beginAtZero:true
            }
          }]
        }
      }
    });
  });
</script>
{% endblock %} {% block content %} {{block.super}}
<div style="width: 80%">
  <canvas
    style="margin-bottom: 30px; width: 60%; height: 50%"
    id="myChart"
  ></canvas>
</div>
{% endblock %}
